<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <vendor>Pardus Developers</vendor>
  <vendor_url>http://www.pardus.org.tr/</vendor_url>

  <action id="tr.org.pardus.pkexec.pardus-image-writer-dd-mode">
    <description>Run FlashTool</description>
    <message>Authentication is required to run Pardus Image Writer</message>
    <message xml:lang="tr">Pardus Disk Kalıbı Yazıcı için yetkilendirme gerekiyor</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/pardus/pardus-image-writer/src/ImageWriter.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="tr.org.pardus.pkexec.pardus-image-writer-iso-mode">
    <description>Run FlashTool</description>
    <message>Authentication is required to run Pardus Image Writer</message>
    <message xml:lang="tr">Pardus Disk Kalıbı Yazıcı için yetkilendirme gerekiyor</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/pardus/pardus-image-writer/src/ISOCopier.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="tr.org.pardus.pkexec.pardus-image-writer-kill">
    <description>Run FlashTool</description>
    <message>Authentication is required to run Pardus Image Writer</message>
    <message xml:lang="tr">Pardus Disk Kalıbı Yazıcı için yetkilendirme gerekiyor</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kill</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
