Source: pardus-image-writer
Section: utils
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-image-writer

Package: pardus-image-writer
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         parted,
         python3 (>=3.5),
         python3-gi,
         python3-requests,
         python3-pyudev,
         rsync,
         gir1.2-gtk-3.0
         grub-efi-amd64-bin
         grub-pc-bin
Description: Pardus Image Writer
 Simple Gtk+ and Python based Disk Image USB burner
